.quest {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    text-align: right;
    color: #fff;
    margin-right: 19px;
}

.phone {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.26;
    text-align: right;
    margin-right: 19px;
}

.contacts{
    margin-left: auto;
}