.map {
    background: url(../../img/map.jpg) center center/cover no-repeat;
    height: 500px;
    position: relative;

    &__baloon {
        position: absolute;
        top: 34.2%;
        left: 43.3854%;
        background: url(../../img/address.png);
        width: 329px;
        height: 158px;
        padding: 27px 0 0 53px;
    }

    &__mark{
        position: absolute;
        top: 44.8%;
        left: 39.375%;
    }

    &__address{
        width: 227px;
    }

    &__city{
        font-size: 16px;
        font-weight: bold;
        color: $main-color;
    }

    &__text, &__mail{
        font-size: 14px;
        font-weight: 300;
        color: $text-color;
    }

    &__mail{
        color: $main-color;
        text-decoration: underline;
    }
}