@media (max-width: 1400px){
    .menu{
        font-size: 14px;
    }
    
}

@media (max-width: 1999px) {
    .menu{
        margin-left: 10px;
        margin-right: 10px;
        &__item {
            padding: 0px 5px;
        }
    }

    .header{
        &__logo{
            width: 50px;
            height: auto;
        }
    }

    .quest{
        display: none;
    }

    .main-header{
        margin-top: 15px;
    }

    .main-title{
        font-size: 64px;
        margin-top: 40px;
    }
    
    .main-subtitle{
        font-size: 36px;
    }

    .promo{
        padding-bottom: 50px;
        min-height: 600px;
        &__divider{
            margin: 27px 0;
        }
        &__descr{
            font-size: 14px;
        }
    }


    
}

@media (max-width: 991px) {
    .hamburger{
        display: block;
        z-index: 3;
    }

    .header{
        &__logo{
            display: none;
        }
    }

    .menu{
        flex-direction: column;
        justify-content: space-around;
        width: 300px;
        height: 100vh;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        top: 0px;
        left: 0px;
        z-index: 2;
        margin: 0;
        &__item{
            border-right: none;
            padding: 0;
            
        }
    }
}